{% extends 'baseSecond.html' %}
 
{% block content %}
{{ super() }}
<form action="{{url_for('checkonwarnings', user_id = current_user.get_id())}}" method="post" class="form-contact">
<div style="text-align:center; background-color:#DCDCDC;" >
<h1 class="h3 mb-3 fw-normal">Ввод текста в область ниже</h1>

<p><textarea name="sea"rows=14 cols=100>{{sea}}</textarea>
    <div class="row stoprow">
        <div class="col">
            <div class="header2">
				Annotation result:
            </div>
            <div id="resulta">{{ rea }}</div>
        </div>
    </div>

<p>Оценка: {{grade}}</p>
    {% for k in comments %}
    <div class="txt" name="popupbox" id="{{ k }}" style="position: absolute; width: auto; top: 0px; left: 0px; font-size: 10px; background-color: white; border: 3px dashed; border-color: rgb(190,16,123); border-radius: 5px; opacity: 0; display: none;">{{ comments[k] }}</div>
	{% endfor %}
<input type="submit" value="Добавить ответ на задание" class="btn btn-lg btn-success " />
<a href = "{{url_for('profile', user_id = current_user.get_id())}}" class="btn btn-lg btn-secondary">Назад в профиль</a>
</div>
</form>
{% endblock %}