{% extends 'baseSecond.html' %}
 
{% block content %}
{{ super() }}
<form action="{{url_for('CreateStudent', user_id = current_user.get_id())}}" method="post" class="form-contact">
<div style="text-align:center;">
<h1 class="h3 mb-3 fw-normal">Заполнение нового студента</h1>
<input type="text" name="fstName" size="44" placeholder = "Имя" value="" requied /><br>
<input type="text" name="scdName" size="44" placeholder = "Фамилия" value="" requied /><br>
<input type="text" name="thrName" size="44" placeholder = "Отчество" value="" /><br>
<input type="text" name="userId" size="44" placeholder = "Номер пользователя" value="" requied /><br>
<input type="text" name="groupId" size="44" placeholder = "Номер группы" value="" requied /><br><p></p>
<input type="submit" class="btn btn-success" value="Добавление студента" />&nbsp;
<a href = "{{url_for('profile', user_id = current_user.get_id())}}" class="btn btn-secondary">Назад в профиль</a>
</div>
</form>
{% endblock %}