{% extends 'baseSecond.html' %}
 
{% block content %}
{{ super() }}
<form action="/profile/<user_id>/worksbyme/<post_id>" method="post" class="form-contact">
    <h2 class="h4 mb-3 fw-normal">Текст задания:</h2>
    <p class="h5 mb-3 fw-normal">{{task}}</p>
    <table class="table table-hover table-success table-striped table-sm">
        <thead class="table-dark">
            <tr>
            <th scope="col">Ответы к заданию {{nameOfWork}}</th>
            <th scope="col">Ссылка</th>
            </tr>
        </thead>
        <tbody>
        {% for ts in responses %}
        <tr>
            <th scope="row">{{ts.ФИО}}</th>
            <td><a href="{{url_for('ShowEssays', user_id = current_user.get_id(), post_id = ts.WorkID, student_id = ts.StudentID)}}" class="btn btn-outline-dark">Посмотреть</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href = "{{url_for('showWorksByMe', user_id = current_user.get_id())}}" class="btn btn-sm btn-outline-dark me-md-2">Вернуться назад</a>
</div>
</form>
{% endblock %}